<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matza Time</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <a href="/matzas">Matza Time</a>
      <ul class="right">
        <li>
          <% if (user) { %>
          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
        </li>
        <li><%= user ? `Logged in as: ${user.name}` : "Not Logged In" %></li>
      </ul>
    </nav>
  </div>


  <div>
    <% if (user) { %>
      <a href="/matzas/new">Create a new Post</a>
      <% } else { %>
        <h3>In order to post please log in</h3>
      <% } %>
  </div>
  <div>
    <table>
      <tr>
        <th>Title</th>
      </tr>
      <tbody>
        <% matzas.forEach(function(m) { %>
          <tr>
            <td><%= m.title %></td>
            <td><a href="/movies/<%= m._id %>">DETAILS</a></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  
  <main>
    <div class="card">
      <% matzas.forEach(function(m) { %>
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= m.title %><i class="material-icons right">more_vert</i></span>
        <p><a href="/movies/<%= m._id %>">Details</a></p>
        <% }); %>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

  </main>

</body>
</html>