<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matza Time</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <a href="/matzas">Matza Time</a>
      <ul class="right">
        <li>
          <% if (user) { %>
          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
        </li>
        <li><%= user ? `Logged in as: ${user.name}` : "Not Logged In" %></li>
      </ul>
    </nav>
  </div>


  <div>
    <% if (user) { %>
      <a href="/matzas/new">Create a new Post</a>
      <% } else { %>
        <h3>In order to post please log in</h3>
      <% } %>
  </div>
  
  <main>
    <div class="centeringTheCards">

    <% matzas.forEach(function(m) { %>
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img class="activator matzas" src="<%= m.image %>" alt="">
            <span class="card-title"><%= m.title %></span>
          </div>
          <!-- <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div> -->
          <div class="card-action">
            <a href="/matzas/<%= m._id %>">Details</a>
          </div>
        </div>
      </div>
    </div>
    <% }); %>

  </div>



    <!-- <div class="card">
      <% matzas.forEach(function(m) { %>
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator matzas" src="<%= m.image %>" alt="">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= m.title %><i class="material-icons right">more_vert</i></span>
        <p><a href="/movies/<%= m._id %>">Details</a></p>
        <% }); %>
      </div>
    </div>

  </main> -->

</body>
</html>