<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matza Time</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<section>
    <div>Title: </div>
    <div><%= matza.title %></div>
    <div>Image: </div>
    <div><%= matza.image %></div>
    <div>Ingredients: </div>
    <div><%= matza.ingredients %></div>
    <div>Instructions: </div>
    <div><%= matza.instructions %></div>
</section>


<!-- <form id="add-comment-form" method="POST"
  action="/matzas/<%= matza._id %>/reviews">
  <label>Comment:</label>
  <textarea name="comment"></textarea>
  <input type="submit" value="Add Comment">
</form> -->


</body>
</html>