<%- include('../partials/header') %>

<section>
  <div class="whiteBackgound showMatza">
    <div class="imageMatza">
      <img src="<%= matza.image %>" class="imageShowPg">
    </div>

    <div class="contentMatza">
      <div>
        Title: <%= matza.title %>
      </div>
      <div>
        Ingredients: <%= matza.ingredients %>
      </div>
      <div>
        Instructions: <%= matza.instructions %>
      </div>
      <% if (user) { %>
        <% if (matza.user._id.toString() === user._id.toString()) { %>
          <a href="/matzas/<%= matza._id %>/edit">Edit your Matza</a>
        <% } %>
      <% } %>
    </div>
  </div>  
</section>

<div class="whiteBackgound">
  <form id="add-comment-form" method="POST"
    action="/matzas/<%= matza._id %>/comments">
    <p>In order to comment you need to be logged in</p>
    <label>Comment:</label>
    <textarea name="comment"></textarea>
    <input type="submit" value="Add Comment" class>
  </form>
</div>

<div class="whiteBackgound">
  <% if (matza.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% var total = 0 %>
        <% matza.comments.forEach(function(c) { %>
          <tr>
            <td> <%= c.user.name %></td>
            <td><%= c.comment %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Comments Yet</h5>
    <% } %>
</div>

<%- include('../partials/footer') %>
