<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matza Time</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  
<section>
  <div class="whiteBackgound">
    <div >
      <img src="<%= matza.image %>" class="imageShowPg">
    </div>

    <div>
      <div>
        Title: <%= matza.title %>
      </div>
      <div>
        Ingredients: <%= matza.ingredients %>
      </div>
      <div>
        Instructions: <%= matza.instructions %>
      </div>
    </div>
  
    
    <a href="/matzas/<%= matza._id %>/edit">Edit your Matza</a>
  </div>
   
</section>

<div class="whiteBackgound">
  <form id="add-comment-form" method="POST"
    action="/matzas/<%= matza._id %>/comments">
    <label>Comment:</label>
    <textarea name="comment"></textarea>
    <input type="submit" value="Add Comment" class>
  </form>
</div>

<div class="whiteBackgound">
  <% if (matza.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% var total = 0 %>
        <% matza.comments.forEach(function(c) { %>
          <tr>
            <td> <%= c.user.name %></td>
            <td><%= c.comment %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Comments Yet</h5>
    <% } %>
</div>

  <%- include('../partials/footer') %>
